.information {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.profile-button {
	margin-top: 30px;
	font-size: 20px;
}

.title{
	font-size: 60px;
}

.slogan{
	font-size: 28px;
}

.filler {
	height: 100%;
}

.logo {
	width: 280px;
}

.wanna-know-more {
	margin-top: 40px;
	padding: 25px;
	font-size: 20px;
}