<div class="container">
  <div class="card introduction">
  <header>
    <div id="profilepic"></div>
    <h1> <b>{{name}}</b></h1>
    <h2> {{description}} </h2>
    <span class="cost"> {{cost}} FAN per creation </span>
    <div class="actionbutton" *ngIf="!ownProfile && !isFanOf">
      <a class="button is-primary become_fan_button" (click)="becomeFan($event)">Become a Fan!</a>
    </div>
    <div class="actionbutton" *ngIf="!ownProfile && isFanOf">
      <a class="button is-danger become_fan_button" (click)="stopSupporting($event)">Stop Supporting :(</a>
    </div>
    <div class="actionbutton" *ngIf="ownProfile">
      <a class="button is-primary become_fan_button" (click)="toggleProfileModal($event)" >Change Profile</a>
    </div>
    <div class="actionbutton" *ngIf="ownProfile">
      <a class="button is-info become_fan_button" (click)="togglePostModal($event)" >Create a Post</a>
    </div>
  </header>
</div>
  <div class="notifications">
  	<div *ngFor="let post of allPosts" class="card">
  		<div class="card-content">
  			<div class="media">
  				<div class="media-content">
  					<div [innerHTML]="post[2]"></div> <br>
  					<p class="subtitle is-6">{{name}}</p>
  				</div>
  			</div>

  			<div class="content">
<!--           <div class="card-image">
        <figure class="image is-4by3">
          <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
        </figure>
      </div> -->
  				<time datetime="2016-1-1">{{post[3]}}</time>
  			</div>
  		</div>
  	</div>
  </div>
</div>

<div class="modal" id="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Create a Post</p>
      <button class="delete" aria-label="close" (click)="togglePostModal($event)"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label">Content:</label>
        <div class="control">
          <textarea class="textarea" placeholder="Place your content here" [(ngModel)]="content"></textarea>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="submitPost($event)">Submit Post</button>
      <button class="button toggle-modal" (click)="togglePostModal($event)">Cancel</button>
    </footer>
  </div>
</div>
