.posting{
	width: 300px;
	text-align: center;
}

.notifications{
	margin-top: 40px;
	text-align: center;
}

.card {
	margin-right: auto;
	margin-left: auto;
	width: 600px;
}

.profilepic {
	width: 150px;
	height: 150px;
}

.introduction {
	margin-top: 25px;
	text-align: center;
	padding: 10px;
}

.subtitle {
	text-align: center;
}