<nav class="nav has-shadow navbar">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" href="/">
        <img class="logo" src="../../assets/fancoinlogo.png" alt="Bulma logo">
      </a>
      <a class="nav-item is-tab is-hidden-mobile" href="/">Home</a>
      <a class="nav-item is-tab is-hidden-mobile" href="/dashboard">Dashboard</a>
      <a class="nav-item is-tab is-hidden-mobile" href="/explore">Explore</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet" href="/">Home</a>
      <a class="nav-item is-tab is-hidden-tablet" href="/dashboard">Dashboard</a>
      <a class="nav-item is-tab is-hidden-tablet" href="/explore">Explore</a>
      <a href="/profile" class="nav-item is-tab">Profile</a>
    </div>
  </div>
</nav>
